.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  