.footer {
    text-align: center;
    padding: 1rem;
    background-color: #282c34; 
    color: white;             
    position: relative;       
    bottom: 0;               
    width: 100%;             
  }
  